<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About PlaySync</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('what-is-StyleSustain')">What is StyleSustain?</h2>
            <div class="section-content" id="what-is-StyleSustain">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea cupiditate laboriosam corrupti ex recusandae a repellendus, ipsum facilis voluptas esse earum expedita sint assumenda accusamus soluta nulla! Aut, beatae eligendi.</p>
            </div>
        </div>
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('team')">Team</h2>
            <div class="section-content" id="team">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit voluptatum neque odio omnis voluptatem quo velit nesciunt eos quod harum ut in fugit, esse repudiandae! A voluptatem vero possimus optio!</p>
            </div>
        </div>
        <div class="section">
            <h2 class="section-heading" onclick="toggleSection('vision')">Vision</h2>
            <div class="section-content" id="vision">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis iusto molestias voluptas perspiciatis libero itaque nihil totam, alias quia quasi vitae placeat neque consequatur animi doloremque eius maxime ut architecto!</p>
            </div>
        </div>
    </div>
    <a href="/home"><button class="btn" id="home-btn">Home</button></a>

    <script src="/js/about.js"></script>
</body>
</html>